@model IEnumerable<Zadatak.Models.TravelOrderDriverVehicle>

@{
    ViewBag.Title = "PrikaziPutneNaloge";
}

<h2>Prikaži putne naloge</h2>

<p>
    @Html.ActionLink("< nazad na meni", "Meni", "Home");
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.IDTravelOrder)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.StartPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.TypeVehicle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.IDTravelOrder)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.StartPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.TypeVehicle)
        </td>
        <td>
            @Html.ActionLink("Uredi", "UrediNalog", new { id = item.IDTravelOrder }) |
            @Html.ActionLink("Obriši", "ObrisiNalog", new { id = item.IDTravelOrder })
        </td>
    </tr>
}

</table>
